@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: white;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark body {
  background: #020617;
  color: white;
}

@keyframes slow-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-slow-spin {
  animation: slow-spin 6s linear infinite;
}